.logo{
    width:80px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline-start: 10px;
}
.bg-1{
    background-color: rgb(27, 21, 51);
}
.carousel-inner{
    margin-top: 20px;
    margin-left: 25%;
    padding-bottom: 30px;
}
.carousel-caption{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: -70px;
    margin-right:50%;
}
.bg-2{
    border-color: brown;
    background-color:  rgb(27, 21, 51);
}
.card{
    justify-content: center;
    align-items: center;
}
